body{
  background: url('http://cdn.pcwallart.com/images/milky-way-nasa-wallpaper-2.jpg')no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #FFD700;
}
.game-container{
  text-align: center;
  width: 100vw;
  /*overflow: hidden;*/
}


.space{
  border: gray solid 1px;
  float: left;
  width: 6vw;
  height: 6vh;
  background-color: black;
  font-color: white;
}

h3.enemy-header{
  margin-bottom: 2.5vh;
}

h3{
  font-family: 'Death Star';
  text-decoration: underline;
  font-size: 20px;
}

.enemy-map{
  width: 35vw;
  float: left;
  margin-left: 10vw;
}

.playerContainer{
  width: 35vw;
  float: left;
  margin-left: 7.5vw;
}


.player-map,
.direction {
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
}

h2.title{
  font-family: 'Death Star';
  font-size: 3.5em;
  text-align: center;
  letter-spacing: 4px;
  text-decoration: underline;
}

.direction{
clear: both;
}

.playerSelected{
  /*ship here*/
  background: url(http://vignette3.wikia.nocookie.net/starwars/images/5/54/MillenniumFalcon-Fathead.png/revision/20150310124457);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: black;
  max-width: 100%;
  max-height: 100%;
}

.selectedCoordinate{
  /*missile*/
  background: url('https://www.iconexperience.com/_img/m_collection_png/256x256/plain/ballistic_missile.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: black;
}

.miss{
  /*x*/
  background: url(http://www.iconsdb.com/icons/preview/white/x-mark-xxl.png);
  background-color: black;
  background-repeat: no-repeat;
  background-size: contain;
}

.successfulHit{
  /*explosion*/
  background: url(https://i.ytimg.com/vi/tquaim7OMaQ/hqdefault.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  max-width: 100%;
  max-height: 100%;
}

.coordinateSubmitButton{
  width: 15%;
  margin-left: 36%;
}

.shootBtn{
  height: 0;
  border-radius: 50%;
  background: red;
  width: 100%;
  padding-bottom: 100%;
}

p.btnName{
  margin-top: 40%;
  font-weight: bold;
}

input{
  width: auto;
  margin-left: -10%;
  background-color: black;
  border: black;
  height: 50%;
  color: yellow;
  text-align: center;
}

button.endGame,
button.submit{
  background: black;
  color: yellow;
  font-family: 'Death Star';
}

button.endGame{
  margin-left: 20%;
  margin-top: 20px;
  font-size: 20px;
}

button.submit{
  font-size: 20px;
}
