.game-container{
  text-align: center;
  width: 100vw;
  /*overflow: hidden;*/
}

.space{
  border: black solid 1px;
  float: left;
  width: 6vw;
  height: 6vh;
}

h3.enemy-header{
  margin-bottom: 2.5vh;
}

.enemy-map{
  width: 35vw;
  float: left;
  margin-left: 10vw;
}

.playerContainer{
  width: 35vw;
  float: left;
  margin-left: 7.5vw;
}


.player-map,
.direction {
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
}

.direction{
clear: both;
}

.playerSelected{
  /*ship here*/
  background-image: url('https://cdn4.iconfinder.com/data/icons/REALVISTA2/transportation/png/400/destroyer.png')
}

.selectedCoordinate{
  /*missile*/
  background-image: url('https://cdn0.iconfinder.com/data/icons/the-wars/450/missile-512.png')

}

.miss{
  /*x*/
  background-image: url('https://cdn4.iconfinder.com/data/icons/geomicons/32/672366-x-128.png')
}

.successfulHit{
  /*explosion*/
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/Explosion-155624_icon.svg/2000px-Explosion-155624_icon.svg.png')
}
